
<div class="notfound">
    <h1>404</h1>
    <h3>Không tìm thấy trang</h3>
    <span>Xin lỗi trang bạn tìm kiếm không tồn tại hoặc đã được xóa</span>
    <a href="/admin/">Quay lại trang chủ</a>
</div>
