<div class="message" style="margin-top:10px">
    <ul>
        <%if(success_message.length>0){%>
            <%success_message.forEach(function(message){%>
                 <li class="alert alert-success" style="list-style: none;"><%=message%>
                    <i class="fa fa-times" onclick="exit_message()" style="float: right;cursor: pointer;"></i>
                </li>
            <%})%>
        <%}%>
        <%if(error_message.length>0){%>
            <%error_message.forEach(function(message){%>
                <li class="alert alert-danger" style="list-style: none"><%=message%>
                    <i class="fa fa-times" onclick="exit_message()" style="float: right;cursor: pointer;"></i>
                </li>
            <%})%>
        <%}%>
        <%if(typeof errors != "undefined"){%>
           
                <li class="alert alert-danger" style="list-style: none"><%=errors[0].msg%>
                    <i class="fa fa-times" onclick="exit_message()" style="float: right;cursor: pointer;"></i>
                </li>
       
        <%}%>
    </ul>
</div>